/*! =========================================================
    Main Style
========================================================== */

:root {
    --bs-body-bg: var(--bs-gray-100);
}

.material-symbols-rounded {
    font-size: 2rem;
}

.background {
    position: absolute;
    top: 0rem;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.btn-primary {
    border: 3px solid $primary;
    color: $primary;
    font-size: 1.1rem;
    font-weight: 700;
    background: transparent;
    box-shadow: 3px 3px rgba($black, 0.2);

    &:hover {
        background-color: $primary;
        border: 3px solid $primary;
    }
}

.btn-secondary {
    border: 3px solid $secondary;
    color: $secondary;
    font-size: 1.1rem;
    font-weight: 700;
    background: transparent;
    box-shadow: 3px 3px rgba($black, 0.2);

    &:hover {
        background-color: $secondary;
        border: 3px solid $secondary;
    }
}


/* ==========================================================
 * Hero Section
========================================================== */

#hero {
    width: 100%;
    height: 80vh;
    margin: 10vh 0;
    position: relative;
    background: $white;
    border-radius: 2rem;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 992px) {
    #hero {
        padding-left: 160px;
    }
}

#hero h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: $secondary;
}

#hero p {
    color: $secondary;
    margin: 1rem 0 3rem;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero p span {
    color: $primary;
    letter-spacing: 1px;
}

#hero .social-links {
    margin-top: 30px;
}

#hero .social-links a {
    font-size: 24px;
    display: inline-block;
    color: $secondary;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
}

#hero .social-links a:hover {
    color: $primary;
}

@media (max-width: 992px) {
    #hero {
        text-align: center;
    }

    #hero h1 {
        font-size: 32px;
        line-height: 36px;
    }

    #hero p {
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
    }
}

#particles-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/* ==========================================================
 * General Sections
========================================================== */

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;

    h2 {
        position: relative;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 20px;
        color: $secondary;

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 140px;
            height: 1px;
            left: calc(50% - 70px);
            bottom: 1px;
            background: lighten($secondary, 20%);
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            left: calc(50% - 25px);
            bottom: 0;
            background: darken($blue, 20%);
        }
    }

    p {
        margin-bottom: 0;
    }
}


/* ==========================================================
 * About Section
========================================================== */

.about .content {
    h3 {
        font-weight: 700;
        font-size: 26px;
        color: $secondary;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }

        strong {
            margin-right: 10px;
        }

        .material-symbols-rounded {
            color: $primary;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }

}


/* ==========================================================
 * Contact Section (Footer)
========================================================== */

footer {
    height: 100vh;

    .info {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .social-links {
            a {
                font-size: 1.8rem;
            }

            .material-symbols-rounded {
                position: relative;
                top: 0.6rem;
            }
        }
    }
}