/*! =========================================================
    Navigation Menu
========================================================== */

/* ==========================================================
 * Header
========================================================== */

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}

@media (max-width: 991px) {
    #header {
        width: 300px;
        background: $white;
        border-right: 1px solid lighten($secondary, 40%);
        left: -300px;
    }
}

@media (min-width: 991px) {
    #main {
        margin-left: 100px;
    }
}


/* ==========================================================
 * Desktop Navigation 
========================================================== */

.nav-menu {
    padding: 0;
    display: block;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: $secondary;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: $off-white;
    height: 60px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
    @include default-box-shadow();

    .material-symbols-rounded {
        font-size: 24px;
    }

    span:nth-child(2) {
        padding: 0 5px 0 7px;
        color: $secondary;
    }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    color: $white;
    background: lighten($primary, 10%);
    font-weight: 600;

    span:nth-child(2) {
        color: $white;
    }

    &.home-nav {
        background-color: darken($primary, 10%);
    }
}

.nav-menu a:hover,
.nav-menu li:hover>a {
    width: 100%;
    color: $white;

    span:nth-child(2) {
        display: block;
    }
}

@media (min-width: 992px) {

    .nav-menu a,
    .nav-menu a:focus {
        width: 60px;

        span:nth-child(2) {
            display: none;
            color: $white;
        }
    }
}


/* ==========================================================
 * Mobile Navigation 
========================================================== */

.mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;

    .material-symbols-rounded {
        &.close-icon {
            color: $white;
        }

        &.open-icon {
            color: $secondary;
        }
    }
}

.mobile-nav-active {
    overflow: hidden;

    #header {
        left: 0;
    }

    .mobile-nav-toggle {
        color: $white;
        background-color: $primary;
    }
}

/* ==========================================================
 * Back to top button
========================================================== */

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: $primary;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    color: transparent;

    .material-symbols-rounded {
        font-size: 28px;
        color: $white;
        line-height: 0;
    }

    &:hover {
        background: darken($primary, 10%);
        color: transparent;
        @include default-box-shadow();
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}