/* =========================================================
   Variables
========================================================= */

/* Colors */
$primary: #4F518C;
$secondary: #6D696A;

$white: #FFF;
$black: #000;
$blue: #bee5ec;
$lilac: #d6bcdb;
$peach: #ffc2af;


/* Fonts */

$font-title: "Poppins", sans-serif;