/* =========================================================
   Variables
========================================================= */

/* Colors */
$primary: #4F518C;
$secondary: #6D696A;

$white: #FFF;
$black: #000;
$off-white: #f2f3f5;
$blue: #bee5ec;
$lilac: #d6bcdb;
$peach: #ffc2af;
$link-blue: #0d6efd;

/* Fonts */

$font-title: "Poppins", sans-serif;